
h1{
    
    border-bottom: 1.95px solid orange;
    color: rgb(146, 127, 255);
}
h2{
    margin-left: 100px;
    color: rgb(146, 127, 255);
}
p{
    margin-left: 100px;
    font-size: large;
    font-family: sans-serif;
}
img{
    float: right;
    margin: 0 12px;
    width: 600;
    height: 400;
}
body,main{
    background-color: rgb(167, 209, 233) !important;
}